<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="src/css/main.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Vue.js: production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Bundle -->
    <!-- <script src="dist/bundle.js"></script> -->

    <title>Bura | 4 card variation</title>
</head>

<body>
    <div class="app container">

        <div class="text-center" v-for="player in players" v-bind:class="{backside: player.backside}" v-on:click="player.backside=!player.backside">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{player.name}}</h2>
                    <div class="card-holder" v-for="card in player.cards">
                        <span class="card front" v-bind:class="[card.suit]">{{card.text}}</span>
                        <span class="card back"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="src/js/app.js"></script>
</body>

</html>