.card-holder {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}

.card {
    display: inline-block;
    width: 140px;
    height: 180px;
    line-height: 160px;
    box-shadow: 0 0 6px 3px #eee;
    font-size: 2.7em;
    text-align: center;
    vertical-align: middle;
    transition: 1s all ease;
    backface-visibility: hidden;
}

.card.selected,
.card:hover {
    box-shadow: 0 0 5px 3px #ddd;
}

.card.hearts,
.card.diamonds {
    color: red;
}

.card.clubs::before {
    content: '♣';
}

.card.spades::before {
    content: '♠';
}

.card.hearts::before {
    content: '♥';
}

.card.diamonds::before {
    content: '♦';
}

.card.back {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(180deg);
}

.card.back::after {
    content: '';
    position: absolute;
    left: 12%;
    top: 10%;
    width: 76%;
    height: 80%;
    background-color: #aaa;
    box-shadow: 0 0 1px 0px;
}

.backside .card.front {
    transform: rotateY(180deg);
}

.backside .card.back {
    transform: rotateY(0);
}